
.navbar-brand img{
    max-width: 35px;
    max-height: auto;
}

h1{
    background-image:  linear-gradient(to right, #a8c0ff, #3f2b96);
    background-clip: text;
    color: transparent;
}

#carouselExampleIndicators{
    width: 500px;
    display: flex;
    justify-content: center;
    height: 500px;
}

.carousel-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 0px 20px;
}

.carousel-text{
    max-width: 500px;
}

/* .p-3.mb-4.bg-dark.border-0{
    background-color: black;
} */





/* responsiveness */
@media (max-width: 780px) {

    #carouselExampleIndicators{
        max-height: 300px;
        max-width: 300px;
    }

    .carousel-section{
        display: grid;
        margin: 0;
    }

    #p2, #p3, #p4{
        display: none;
    } 
}